<section class="body-wrapper">
  <form id="forgotPasswordForm" action="/auth/forgot-password" method="post">
    <div class="fp">
      <h1>
        Forgot Password
      </h1>
      <div class="inp">
        <label for="email">
          Email Address
        </label>
        <div class="sec-2">
          <ion-icon name="mail-outline"></ion-icon>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="student@stevens.edu"
            required
          />
        </div>
      </div>

      {{#if error}}
        <p class="error">
          {{error}}
        </p>
      {{/if}}

      <button type="submit" value="Submit" class="btn">
        Submit
      </button>
      <div class="footer">
        <a href="/auth/login">
          Log In
        </a>
      </div>
    </div>
  </form>
</section>

<link rel="stylesheet" href="/public/css/auth/forgotPassword-style.css" />