<div class="cont">
  <section class="body-wrapper con">
    <form id="forgotPasswordForm">
      <div class="fp">
        <h1>
          Forgot Password
        </h1>
        <div class="inp">
          <label for="email">
            Email Address
          </label>
          <div class="sec-2">
            <ion-icon name="mail-outline"></ion-icon>
            <input
              type="email"
              id="email"
              name="email"
              placeholder="student@stevens.edu"
              required
            />
          </div>
        </div>
        <p class="error" id="error" hidden></p>

        <button type="submit" value="Submit" class="btn">
          Submit
        </button>
        <div class="footer">
          <a href="/auth/login">
            Log In
          </a>
        </div>
      </div>
    </form>

  </section>

  <label for="ripple-button"></label>
  <button id="ripple-button" class="rip"></button>
  <button id="ripple-button" class="rip"></button>
  <button id="ripple-button" class="rip"></button>
  <button id="ripple-button" class="rip"></button>
  <button id="ripple-button" class="rip"></button>
</div>
<script src="/public/js/auth/forgotPassword.js" type="module"></script>
<link rel="stylesheet" href="/public/css/auth/forgotPassword-style.css" />
<link rel="stylesheet" href="/public/css/auth/ripple.css" />