<section class="body-wrapper">
  <form id="login">
    <div class="screen-1">
      <h1>
        Login
      </h1>
      <div class="email">
        <label for="email">
          Email Address
        </label>
        <div class="sec-2">
          <ion-icon name="mail-outline"></ion-icon>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Enter Email"
            value="{{emailEntered}}"
            required
          />
        </div>
      </div>
      <div class="password">
        <label for="pass">
          Password
        </label>
        <div class="sec-2">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <input
            type="password"
            id="pass"
            name="password"
            placeholder="Enter Password"
            value="{{passEntered}}"
            required
          />
        </div>
      </div>

      {{#if messages.error}}
        <p class="error">
          {{messages.error}}
        </p>
      {{/if}}

      {{#if error}}
        <p class="error">
          {{error}}
        </p>
      {{/if}}

      <button type="submit" value="Submit" class="login">
        Login
      </button>

      <div class="footer">
        <a href="/auth/register">
          Register
        </a>
        <a href="/auth/forgot-password">
          Forgot Password?
        </a>
      </div>
    </div>
  </form>
</section>
<script src="/public/js/auth/login.js" type="module"></script>
<link rel="stylesheet" href="/public/css/auth/login-style.css" />