<div class="cont">
  <section class="body-wrapper con">
    <form
      id="resetPasswordForm"
      action="/auth/reset-password/{{id}}"
      method="post"
    >
      <div class="reg">
        <h1>
          Enter Your New Password
        </h1>
        <div class="password">
          <label for="newPassword">
            Password:
          </label>
          <div class="sec-2">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <input
              type="password"
              id="newPassword"
              name="newPassword"
              placeholder="· · · · · · · · · · ·"
              value="{{newPassword}}"
              required
            />
          </div>
        </div>
        <div class="pass">
          <p>
            Password should have at least 1 Uppercase Character, 1 Lowercase
            Character, 1 Number, 1 Special character and password should be at
            least 6 characters long.
          </p>
        </div>
        {{#if error}}
          <p class="error">
            {{error}}
          </p>
        {{/if}}
        <button type="submit" value="Submit" class="btn">
          Submit
        </button>
      </div>
    </form>
  </section>
  <button class="rip"></button>
  <button class="rip"></button>
  <button class="rip"></button>
  <button class="rip"></button>
  <button class="rip"></button>
</div>
<link rel="stylesheet" href="/public/css/auth/resetPassword-style.css" />
<link rel="stylesheet" href="/public/css/auth/ripple.css" />