<section>
  <h1>
    Verify User
  </h1>

  <form id="verifyUserForm">
    <div>
      <label for="otp">
        Name
        <input
          id="otp"
          type="text"
          name="otp"
          placeholder="enter otp..."
          required
        />
      </label>
    </div>

    <button type="submit">
      Verify
    </button>

    <button type="button" id="btnResendOtp">
      Resend OTP
    </button>

    <ul id="verifyErrors" class="hide">
    </ul>
  </form>
</section>
<script src="/public/js/verifyUser.js" type="module"></script>
<link rel="stylesheet" href="/public/css/form-styles.css" />