.fp {
  background: #f1f7fe;
  padding: 2em;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  box-shadow: 0 0 2em #e6e9f9;
  gap: 2em;
  width: 650px;
}

.fp h1 {
  font-weight: 500;
  text-align: center;
  margin-bottom: 30px;
}

.fp .inp {
  background: white;
  box-shadow: 0 0 2em #e6e9f9;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-radius: 20px;
  color: #4d4d4d;
}

.fp .inp input {
  outline: none;
  border: none;
  width: 80%;
}

.fp .inp input::-moz-placeholder {
  /* color: black; */
  font-size: 0.9em;
  color: rgb(113, 113, 113);
}

.fp .inp input:-ms-input-placeholder {
  color: rgb(113, 113, 113);
  font-size: 0.9em;
}

.fp .inp input::placeholder {
  /* color: black; */
  color: rgb(113, 113, 113);
  font-size: 0.9em;
}

.fp .inp ion-icon {
  color: #4d4d4d;
  margin-bottom: -0.2em;
}

.fp .btn {
  padding: 1em;
  background: #e40000;
  color: white;
  border: none;
  border-radius: 30px;
  font-weight: 600;
}

.fp .footer {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  color: #5e5e5e;
  gap: 14em;
  padding-bottom: 3em;
}

.fp .footer a {
  text-decoration: none;
  color: #e40000;
  cursor: pointer;
  padding-left: 0.5em;
}

.fp .error {
  color: #8e0404;
  padding: 1em;
}

button {
  cursor: pointer;
}
