* {
  box-sizing: border-box;
}

html,
body {
  font-size: 14px;
}

body {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

:root {
  --primary-color: #ef4444;
  --secondary-color: #10b981;
  --black-color: #18181b;
  --white-color: #f1f5f9;
  --bg-color: #e0f2fe;
}

.hide {
  display: none;
}
