<footer>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-bottom">
    <div class="container-fluid text-center">
      <span class="text-center text-white w-100">
        Made by Group 50
        <span class="px-4">
          Contact us at
          <a
            href="mailto:stevenslostandfound@gmail.com"
            class="colorBlueFooter"
          >
            stevenslostandfound@gmail.com
          </a>
        </span>
      </span>
    </div>
  </nav>
</footer>