<footer>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-bottom">
    <div class="container-fluid text-center">
      <span class="text-center text-white w-100">
        Made by Group 50
      </span>
    </div>
  </nav>
</footer>