.comment {
  margin-bottom: 14px;
  border: 1px solid;
  border-color: var(--black-color);
  padding: 6px;
}

.user {
  font-size: 12px;
  color: var(--black-color);
  font-style: italic;
}

.listing-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}

/* Columns */
.left-column {
  width: 65%;
  position: relative;
}

.item-listing {
  width: 35%;
  margin-top: 60px;
}

/* Item Description */
.item-description {
  border-bottom: 1px solid #e1e8ee;
  margin-bottom: 20px;
}
.item-description span {
  font-size: 12px;
  color: #358ed7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.item-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484d;
  letter-spacing: -2px;
}
.item-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939e;
  line-height: 24px;
}

.colorBlue {
  color: #004db8 !important;
}
